{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Chat APP</h1>
        <textarea id="chat-log" class="form-control" cols="100" rows="20"></textarea>
        <br>
        <div class="input-group mb-3">
            <input id="chat-message-input" type="text" class="form-control" placeholder="Writing..."
                   aria-label="Recipient's username"
                   aria-describedby="button-addon2">
            <button id="chat-message-submit" class="btn btn-outline-secondary" type="button">Send</button>
        </div>
    </div>
    {{ room_name|json_script:"room-name" }}
{% endblock %}
